<div class="container-projeto">
    <div class="main-content-projeto">
        <h1>Gerenciamento de Projetos - {{acao}}</h1>

        <!-- Botão para novo projeto -->
        <div class="card" ng-show="acao == 'listando'">
            <button class="button" ng-click="novoProjetoAcao()">Novo Projeto</button>
        </div>

        <!-- Tabela de Projetos Cadastrados -->
        <div class="card"  ng-show="acao == 'listando'">
            <h3>Projetos Cadastrados</h3>
            <table class="project-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Data de Início</th>
                        <th>Data de Conclusão</th>
                        <th>Pontos</th>
                        <th>Prioridade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in projetos">
                    <tr>
                        <td>{{item.nome}}</td>
                        <!-- limitando a descricao para 20 caracteres -->
                        <td>{{item.descricao.substr(0,30)}}</td>
                        <!-- convertendo as datas para o formato do Brasil -->
                        <td>{{item.dataDeInicio | date:'dd/MM/yyyy'}}</td>
                        <td>{{item.dataDeConclusao | date:'dd/MM/yyyy'}}</td>
                        <td>{{item.pontos}}</td>
                        <td>{{item.prioridade}}</td>
                        <td class="acoes">
                            <div  class="acoes-container">
                                <!-- Ícone Consultar -->
                                <span class="icone-consultar" ng-click="$parent.consultar(item.id)">
                                    <i class="fas fa-search"></i>
                                </span>
    
                                <!-- Ícone Deletar -->
                                <span class="icone-deletar" ng-click="$parent.deletarModal(item.id)">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Formulário de editar um projeto -->
        <div class="form-section card" ng-show="acao == 'editando'">
            <button type="button" class="cancel-button" ng-click="listandoProjetoAcao()">Cancelar</button>

            <h3>Editar Projeto - {{editarProjeto.nome}}</h3>
            <form>
                <label for="nome">Nome do Projeto</label>
                <input type="text" id="nome" name="nome" placeholder="Nome do Projeto" required ng-model="editarProjeto.nome">

                <label for="descricao">Descrição</label>
                <textarea id="descricao" name="descricao" placeholder="Descrição do Projeto" rows="4" required ng-model="editarProjeto.descricao"></textarea>

                <label for="data_inicio">Data de Início</label>
                <input type="date" id="data_inicio" name="data_inicio" required ng-model="editarProjeto.dataDeInicio">

                <label for="data_conclusao">Data de Conclusão</label>
                <input type="date" id="data_conclusao" name="data_conclusao" required ng-model="editarProjeto.dataDeConclusao">

                <label for="pontos">Pontos</label>
                <input type="number" id="pontos" name="pontos" placeholder="Pontos do Projeto" required ng-model="editarProjeto.pontos">

                <!-- Campo de Prioridade -->
                <label for="prioridade">Prioridade</label>
                <select id="prioridade" name="prioridade" required ng-model="editarProjeto.prioridade">
                    <option value="urgente">Urgente</option>
                    <option value="alta">Alta</option>
                    <option value="normal">Normal</option>
                    <option value="baixa">Baixa</option>
                </select>

                <button type="button" ng-click="salvarEdicaoProjeto()">Salvar</button>
            </form>
        </div>

        <!-- Formulário de novo cadastro de projeto -->
        <div class="form-section card"  ng-show="acao == 'cadastrando'">
            <button type="button" class="cancel-button" ng-click="listandoProjetoAcao()">Cancelar</button>

            <h3>Cadastrar Novo Projeto</h3>
            <form>
                <label for="nome">Nome do Projeto</label>
                <input type="text" id="nome" name="nome" placeholder="Nome do Projeto" required ng-model="novoProjeto.nome">

                <label for="descricao">Descrição</label>
                <textarea id="descricao" name="descricao" placeholder="Descrição do Projeto" rows="4" required ng-model="novoProjeto.descricao"></textarea>

                <label for="data_inicio">Data de Início</label>
                <input type="date" id="data_inicio" name="data_inicio" required ng-model="novoProjeto.dataDeInicio">

                <label for="data_conclusao">Data de Conclusão</label>
                <input type="date" id="data_conclusao" name="data_conclusao" required ng-model="novoProjeto.dataDeConclusao">

                <label for="pontos">Pontos</label>
                <input type="number" id="pontos" name="pontos" placeholder="Pontos do Projeto" required ng-model="novoProjeto.pontos">

                <!-- Campo de Prioridade -->
                <label for="prioridade">Prioridade</label>
                <select id="prioridade" name="prioridade" required ng-model="novoProjeto.prioridade">
                    <option value="urgente">Urgente</option>
                    <option value="alta">Alta</option>
                    <option value="normal">Normal</option>
                    <option value="baixa">Baixa</option>
                </select>

                <button type="button" ng-click="cadastrarNovoProjeto()">Cadastrar Projeto</button>
            </form>


    </div>
</div>