* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 200px;
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 28px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar a.active {
    font-weight: bold;
    color: #2196F3;
    border-left: 4px solid #2196F3;
    padding-left: 12px; /* Ajuste para compensar o espaço do border */
    font-size: 16px;
}

.content {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    width: calc(105% - 240px);
    height: 86vh;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 86.5em;
    height: 50px;

}

header div{
    margin-left: 7em;
    font-size: 24px;
}

header button {
    background-color: #E74C3C;
    color: white;
    border: none;
    padding: 8px 13px;
    border-radius: 5px;
    cursor: pointer;

    margin-right: 1em;
}

header button:hover {
    background-color: #C0392B;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #ECF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 6px;
    height: 35px;
    position: fixed; /* Garante que o footer fique fixado no final */
    bottom: 0;
    width: 100%; /* Ocupa a largura total */
}


